<h1>Your ticket has been successfully booked</h1>

<p><%= @user.name %>, thank you for prefering us.
You can check your flight details in the following link:</p>
<%= link_to "#{@user.name} Flight", @url %>