<div class="center jumbotron">
	  <h1>Welcome to Private-Events</h1>

	  <h2>
	    Sign up to participate on events and/or to create your own event and invite your friends!
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

