<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the Members-Only Project from <a href="https://www.theodinproject.com"><em>The Odin Project</em></a> which is a free curriculum to learn Web Development based on Ruby on Rails.
</p>